

nav {
    text-align: right;

}

.section-cinza {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 114px;
    background-color: #3A4042;

}

.text-box {
    display:inline-block;
    background-color: #7C5E99 ;
    box-shadow:10px 10px #000;
    text-align: center;
    padding: 42px 30px;
}

.section-cinza .text-box h2 {
    font-family: 'Press Start 2P';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;

    color: #33ADA8;
    text-shadow: 4px 4px 0px #000000;;
}

.section-cinza .text-box p {
    font-family: "Press Start 2P";
    color: #fff;
    font-size: 30px;
    text-shadow:4px 4px 0px #000000;
    margin-top: 25px;

}



