.arrow-left,
.arrow-right {
    position: absolute;
    top: 45%;
    bottom: 45%;
    left: 0px;
    right: auto;
    width: 40px;
    text-align: center;
    color: white;
    cursor: pointer;
    border: none;
    background-color: #F25A70;

}

.arrow-right {
    position: absolute;
    top: 45%;
    bottom: 45%;
    left: auto;
    right: 0px;

}