.section-skills {
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  background-color: #33ada8;
  padding-top : 50px;
  padding-bottom: 100px;
  border-bottom: 10px solid #350831;
}

