.section-cinza {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 114px;
    background-color: #3A4042;
    border-bottom: 10px solid #000;

}

.section-cinza .button-style {
    justify-content: center;
    text-align:center;
    width: 170px;
    margin-top: 20px;
    margin-right:34.5px ;
    margin-left: 34.5px;

}