.skill-head {
    display: flex;
    margin-bottom: 35px;
    align-items: center;
}

.skill-head .icon {
    margin-right: 25px;
    width: 90px;
}

.skill-head .right {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-end;
}


