.skill {
    display: flex;
    margin-bottom: 35px;
}

.skill .icon {
    margin-right: 25px;
    width: 90px;

}

.skill .right {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}


